
form fieldset {
    margin: 0;
    border: 3px solid #099196;
    padding: .5rem 2%;
  }

  
  form legend {
    color: #08598f;
    margin: 1rem 0rem;
    padding: 0 .5rem;
    text-align: center;
    font-size: 120%
  }
  
  form label.top, form div {
    display: block;
    padding-bottom: 1rem;
    color: #08598f;
    font-size: 1rem;
  
  }
  
  form label.top input, form label.top select {
    -webkit-appearance: none; /*web apparence*/
    display: block;
    font-size: 1rem;
    border: solid 1px #08598f;
    padding: .75px;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);      
  
  }
  
  form label.sbs { 
    display: block;
    padding-bottom: .50rem;
    color: #555;
    margin: 0%
  }
  
  form label.sbs1 { 
    display: block;
    color: #060547;
    font-size: 1rem;
    padding-bottom: 0.20rem;
  }
  
  
  form input.submitBtn {
    border: none;
    background-color: #08598f;
    color: white;
    padding: .75rem 1.5rem;
    margin: 1rem 1rem 1rem 0;;
    width: 96%; /*matthches the inpunt in small screens*/
    max-width: 20rem; /*for large screen limit the size*/
  }
  
  form label.top input:required {
    border: #08598f solid 3px;
  }
  
  form label.top input:required:valid {
    border: solid 1px #08598f;
  }