* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* bidyt rules here */
body {
    font-family: verdana;
    font-size: 16px;
}

/*heder rules here */
header {
    background-color: #17a8e4;
    padding: 1rem 2%;
}
header h1 {
    margin: 0;
}
header h2 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
}

.container div {
    justify-content: left;
    margin-bottom: 0%;
}

.container div img {
    margin-left: 0%;
    height: 60%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr; 
  
}

.grid img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33%;
}

.margen > img {
    margin-top: 0%;
}



.box1 {
    margin: 3%;
    text-align: center;
    font-family: 'Rokkitt';
    font-size: 180%;
    
}

form {
    text-align: left;
}
/*contact style*/
.gridc {
    display: grid;
    grid-template-columns: 1fr; 

}

.gridc iframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.box1c h2 {
    text-align: center;
}

.box3 a {
 
    margin:auto;
    padding: 0;
}

.box3 img {
    margin-top: 0%
}

/*---*/

/* acordeon menu*/

.grid ul {
	position:relative;
	top:30px;
    bottom:0px;
	height:100px;
	margin:auto;
	list-style:none;
    padding:0px;
 

}

.grid li {
	width: 250px;
	height: 48px;
	float: center;
	text-align: center;
	background:rgb(240, 240, 240);
	font-family: sans-serif;
	line-height: 3.6;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	font-size: 14px;
	margin: 1px;
}

.grid li > ul {
	position:relative;
	width:190px;
    clear:both;

	/* Hide the Submenus */
	display:none;
}

.grid li > ul > li{
	width: 118%;
	height: auto;
	text-align: center;
	background:#17a8e4;
	font-family: sans-serif;
	line-height: 1.8;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	font-size: 14px;
    margin: 1px;
    text-anchor: unset;
}

/*----*/

.center {
    text-align: center;
}
.navigation {
    display: none;
}

/* navigation rules here */
nav {background-color: #111;}
nav ul {margin:0; padding:0;}
nav li{list-style-type: none;}
nav li.active{background-color: #333;}
nav a {
    display: block;
    padding: .8rem 0; 
    color: #eee;
    text-align: center;
    text-decoration: none;
}

nav a:hover{background-color: #444;}

main {
    padding: 1rem 2%;
    display: block; 
}
main h1 {color: #17a8e4;}

footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #19a8e4;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}