/* 35em si also 560px when basefont is 16px */
@media only screen and (min-width:37.5em) {

    nav button {display: none;}

    nav ul.hide {display: block;}

    nav ul {margin-left: 2%;}

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0,3);
        padding: .8rem 1rem;
    }    

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        text-align: center;

    }
}
    
    